In [3]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
pd.options.display.float_format = '{:.2f}'.format

import pickle
from neuralprophet import NeuralProphet
from matplotlib import pyplot as plt
from itertools import combinations
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

In [29]:
import pandas as pd
df = pd.read_csv("Adilabad.csv")
df ['dates'] = pd.to_datetime(df ['date'])
df=df.set_index(['date'])
df=df.sort_index()
df

            District  min-temp  max-temp      dates
date
2019-01-01  Adilabad     11.03     30.31 2019-01-01
2019-01-02  Adilabad     12.32     32.10 2019-01-02
2019-01-03  Adilabad     13.50     35.28 2019-01-03
2019-01-04  Adilabad     15.27     34.60 2019-01-04
2019-01-05  Adilabad     14.59     34.63 2019-01-05
...              ...       ...       ...        ...
2022-12-27  Adilabad     20.52     34.30 2022-12-27
2022-12-28  Adilabad     21.32     34.81 2022-12-28
2022-12-29  Adilabad     19.48     34.63 2022-12-29
2022-12-30  Adilabad     16.94     34.27 2022-12-30
2022-12-31  Adilabad     17.89     35.05 2022-12-31

[1334 rows x 4 columns]

In [30]:
target= df[['dates', 'max-temp']] 
target.dropna(inplace=True)
target.columns = ['ds', 'y']

WARNING - (py.warnings._showwarnmsg) - /var/folders/bm/xy68m44x3nl6g2dq4wbnmh4c0000gn/T/ipykernel_46959/1528996739.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target.dropna(inplace=True)

In [67]:
# from sklearn.model_selection import train_test_split
# tr,ts=train_test_split(target,train_size=0.3)
tr=target[:'2022']
ts=target['2022':]

In [70]:
NP = NeuralProphet()
model = NP.fit(tr, freq='D', epochs=1000)

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.59% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
WARNING - (py.warnings._showwarnmsg) - /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pytorch_lightning/trainer/trainer.py:1789: UserWarning: MPS available but not used. Set `accelerator` and `devices` using `Trainer(accelerator='mps', devices=1)`.
  rank_zero_warn(

WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (61) is too small than the required number for the learning rate finder (225). The results might not be optimal.

Finding best initial lr:   0%|          | 0/225 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

In [71]:
future = NP.make_future_dataframe(ts, periods=len(ts))
forecast = NP.predict(future)
forecast

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 98.329% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.721% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.721% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 61it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

            ds     y  yhat1  trend  season_yearly  season_weekly
0   2023-01-01  None  29.84  33.78          -3.90          -0.03
1   2023-01-02  None  29.96  33.78          -3.88           0.07
2   2023-01-03  None  30.00  33.77          -3.86           0.08
3   2023-01-04  None  30.02  33.77          -3.83           0.08
4   2023-01-05  None  30.07  33.77          -3.80           0.10
..         ...   ...    ...    ...            ...            ...
354 2023-12-21  None  29.58  33.18          -3.70           0.10
355 2023-12-22  None  29.26  33.18          -3.75          -0.17
356 2023-12-23  None  29.26  33.18          -3.79          -0.13
357 2023-12-24  None  29.32  33.18          -3.82          -0.03
358 2023-12-25  None  29.39  33.17          -3.86           0.07

[359 rows x 6 columns]

In [74]:
from sklearn.metrics import mean_absolute_percentage_error,mean_squared_error
print("Mean absolute percentage error: ",mean_absolute_percentage_error(forecast['yhat1'],ts['y']))
print("Mean Squared Error: ",mean_squared_error(forecast['yhat1'],ts['y']))

Mean absolute percentage error:  0.09130169159913576
Mean Squared Error:  12.474573642629082

Building for whole model

In [77]:
NP = NeuralProphet()
model = NP.fit(target, freq='D', epochs=1000)
future = NP.make_future_dataframe(target, periods=370)
forecast = NP.predict(future)
forecast

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.325% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 32
WARNING - (py.warnings._showwarnmsg) - /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pytorch_lightning/trainer/trainer.py:1789: UserWarning: MPS available but not used. Set `accelerator` and `devices` using `Trainer(accelerator='mps', devices=1)`.
  rank_zero_warn(

WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (42) is too small than the required number for the learning rate finder (228). The results might not be optimal.

Finding best initial lr:   0%|          | 0/228 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.325% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.73% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.73% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 42it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

            ds     y  yhat1  trend  season_yearly  season_weekly
0   2023-01-01  None  31.85  36.36          -4.52           0.01
1   2023-01-02  None  31.75  36.36          -4.54          -0.08
2   2023-01-03  None  31.76  36.36          -4.55          -0.05
3   2023-01-04  None  31.93  36.37          -4.56           0.12
4   2023-01-05  None  31.93  36.37          -4.57           0.12
..         ...   ...    ...    ...            ...            ...
365 2024-01-01  None  32.84  37.43          -4.51          -0.08
366 2024-01-02  None  32.85  37.43          -4.53          -0.05
367 2024-01-03  None  33.01  37.43          -4.55           0.12
368 2024-01-04  None  33.00  37.44          -4.56           0.12
369 2024-01-05  None  32.83  37.44          -4.56          -0.04

[370 rows x 6 columns]

In [95]:
data= forecast[['ds', 'yhat1']].iloc[:365,:]
data.dropna(inplace=True)
data.columns = ['date', 'Temp'] 
data

          date  Temp
0   2023-01-01 31.85
1   2023-01-02 31.75
2   2023-01-03 31.76
3   2023-01-04 31.93
4   2023-01-05 31.93
..         ...   ...
360 2023-12-27 33.19
361 2023-12-28 33.15
362 2023-12-29 32.95
363 2023-12-30 32.89
364 2023-12-31 32.95

[365 rows x 2 columns]

In [90]:
avg=target['y'].mean()
print(avg)
print(max(target['y']))

35.26634932533733
46.79

### Thus city is considered to be part of heat wave category

In [99]:
loc=[]
for i in data['Temp']:
    if i-avg>=4.5 and i-avg<=6.4:
        loc.append('Heatwave')
    elif i-avg>=6.5:
        loc.append('Severe Heatwave')
    else:
        loc.append('No Heatwave')

In [97]:
data['Class']=loc

In [98]:
data

          date  Temp        Class
0   2023-01-01 31.85  No Heatwave
1   2023-01-02 31.75  No Heatwave
2   2023-01-03 31.76  No Heatwave
3   2023-01-04 31.93  No Heatwave
4   2023-01-05 31.93  No Heatwave
..         ...   ...          ...
360 2023-12-27 33.19  No Heatwave
361 2023-12-28 33.15  No Heatwave
362 2023-12-29 32.95  No Heatwave
363 2023-12-30 32.89  No Heatwave
364 2023-12-31 32.95  No Heatwave

[365 rows x 3 columns]

In [ ]:
data.to_csv('Adilabad.csv')