In [16]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
pd.options.display.float_format = '{:.2f}'.format

import pickle
from neuralprophet import NeuralProphet
from matplotlib import pyplot as plt
from itertools import combinations
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

In [17]:
import pandas as pd
df = pd.read_csv("Nizamabad.csv")
df ['dates'] = pd.to_datetime(df ['date'])
df=df.set_index(['date'])
df=df.sort_index()
df

             district  min-temp  max-temp      dates
date
2019-01-01  Nizamabad     12.80     30.40 2019-01-01
2019-01-02  Nizamabad     14.20     32.90 2019-01-02
2019-01-03  Nizamabad     15.80     35.50 2019-01-03
2019-01-04  Nizamabad     15.60     35.40 2019-01-04
2019-01-05  Nizamabad     17.50     35.50 2019-01-05
...               ...       ...       ...        ...
2022-12-27  Nizamabad     21.84     33.24 2022-12-27
2022-12-28  Nizamabad     21.90     34.90 2022-12-28
2022-12-29  Nizamabad     20.94     36.76 2022-12-29
2022-12-30  Nizamabad     20.40     34.90 2022-12-30
2022-12-31  Nizamabad     19.92     36.30 2022-12-31

[1338 rows x 4 columns]

In [18]:
target= df[['dates', 'max-temp']] 
target.dropna(inplace=True)
target.columns = ['ds', 'y'] 
target.drop_duplicates(inplace=True)
target

WARNING - (py.warnings._showwarnmsg) - /var/folders/bm/xy68m44x3nl6g2dq4wbnmh4c0000gn/T/ipykernel_57390/3256469269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target.dropna(inplace=True)

WARNING - (py.warnings._showwarnmsg) - /var/folders/bm/xy68m44x3nl6g2dq4wbnmh4c0000gn/T/ipykernel_57390/3256469269.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target.drop_duplicates(inplace=True)

                   ds     y
date
2019-01-01 2019-01-01 30.40
2019-01-02 2019-01-02 32.90
2019-01-03 2019-01-03 35.50
2019-01-04 2019-01-04 35.40
2019-01-05 2019-01-05 35.50
...               ...   ...
2022-12-27 2022-12-27 33.24
2022-12-28 2022-12-28 34.90
2022-12-29 2022-12-29 36.76
2022-12-30 2022-12-30 34.90
2022-12-31 2022-12-31 36.30

[1338 rows x 2 columns]

In [19]:
# from sklearn.model_selection import train_test_split
# tr,ts=train_test_split(target,train_size=0.3)
tr=target[:'2022']
ts=target['2022':]

In [20]:
NP = NeuralProphet()
model = NP.fit(tr, freq='D', epochs=1000)

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.486% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
WARNING - (py.warnings._showwarnmsg) - /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pytorch_lightning/trainer/trainer.py:1789: UserWarning: MPS available but not used. Set `accelerator` and `devices` using `Trainer(accelerator='mps', devices=1)`.
  rank_zero_warn(

WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (61) is too small than the required number for the learning rate finder (225). The results might not be optimal.

Finding best initial lr:   0%|          | 0/225 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

In [21]:
future = NP.make_future_dataframe(ts, periods=len(ts))
forecast = NP.predict(future)
forecast

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.726% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.726% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.726% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 61it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

            ds     y  yhat1  trend  season_yearly  season_weekly
0   2023-01-01  None  33.39  36.74          -3.41           0.07
1   2023-01-02  None  33.39  36.74          -3.38           0.03
2   2023-01-03  None  33.43  36.75          -3.35           0.03
3   2023-01-04  None  33.51  36.75          -3.31           0.07
4   2023-01-05  None  33.50  36.75          -3.27           0.02
..         ...   ...    ...    ...            ...            ...
360 2023-12-27  None  34.89  38.31          -3.50           0.07
361 2023-12-28  None  34.84  38.31          -3.49           0.02
362 2023-12-29  None  34.70  38.32          -3.48          -0.14
363 2023-12-30  None  34.77  38.32          -3.46          -0.09
364 2023-12-31  None  34.95  38.33          -3.44           0.07

[365 rows x 6 columns]

In [22]:
from sklearn.metrics import mean_absolute_percentage_error,mean_squared_error,r2_score,mean_absolute_error
print("Mean absolute percentage error: ",mean_absolute_percentage_error(forecast['yhat1'],ts['y']))
print("Mean Squared Error: ",mean_squared_error(forecast['yhat1'],ts['y']))
print("Mean Absolute Error: ",mean_squared_error(forecast['yhat1'],ts['y']))

Mean absolute percentage error:  0.05637820129303043
Mean Squared Error:  7.695272455531246
Mean Absolute Error:  7.695272455531246

In [23]:
NP = NeuralProphet()
model = NP.fit(target, freq='D', epochs=1000)
future = NP.make_future_dataframe(target, periods=370)
forecast = NP.predict(future)
forecast

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.626% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 32
WARNING - (py.warnings._showwarnmsg) - /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pytorch_lightning/trainer/trainer.py:1789: UserWarning: MPS available but not used. Set `accelerator` and `devices` using `Trainer(accelerator='mps', devices=1)`.
  rank_zero_warn(

WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (42) is too small than the required number for the learning rate finder (228). The results might not be optimal.

Finding best initial lr:   0%|          | 0/228 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.626% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.73% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.73% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 42it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

            ds     y  yhat1  trend  season_yearly  season_weekly
0   2023-01-01  None  33.13  36.51          -3.44           0.06
1   2023-01-02  None  32.99  36.51          -3.45          -0.07
2   2023-01-03  None  32.98  36.51          -3.46          -0.07
3   2023-01-04  None  33.13  36.52          -3.46           0.07
4   2023-01-05  None  33.13  36.52          -3.46           0.07
..         ...   ...    ...    ...            ...            ...
365 2024-01-01  None  34.15  37.66          -3.44          -0.07
366 2024-01-02  None  34.14  37.66          -3.45          -0.07
367 2024-01-03  None  34.29  37.67          -3.46           0.07
368 2024-01-04  None  34.28  37.67          -3.46           0.07
369 2024-01-05  None  34.17  37.67          -3.46          -0.05

[370 rows x 6 columns]

In [24]:
data= forecast[['ds', 'yhat1']].iloc[:365,:]
data.dropna(inplace=True)
data.columns = ['date', 'Temp'] 
data

          date  Temp
0   2023-01-01 33.13
1   2023-01-02 32.99
2   2023-01-03 32.98
3   2023-01-04 33.13
4   2023-01-05 33.13
..         ...   ...
360 2023-12-27 34.38
361 2023-12-28 34.36
362 2023-12-29 34.22
363 2023-12-30 34.23
364 2023-12-31 34.30

[365 rows x 2 columns]

In [25]:
avg=target['y'].mean()
print(avg)
print(max(target['y']))

35.353327354260095
46.0

In [26]:
loc=[]
for i in data['Temp']:
    if i-avg>=4.5 and i-avg<=6.4:
        loc.append('Heatwave')
    elif i-avg>=6.5:
        loc.append('Severe Heatwave')
    else:
        loc.append('No Heatwave')

In [27]:
data['Class']=loc

In [28]:
data

          date  Temp        Class
0   2023-01-01 33.13  No Heatwave
1   2023-01-02 32.99  No Heatwave
2   2023-01-03 32.98  No Heatwave
3   2023-01-04 33.13  No Heatwave
4   2023-01-05 33.13  No Heatwave
..         ...   ...          ...
360 2023-12-27 34.38  No Heatwave
361 2023-12-28 34.36  No Heatwave
362 2023-12-29 34.22  No Heatwave
363 2023-12-30 34.23  No Heatwave
364 2023-12-31 34.30  No Heatwave

[365 rows x 3 columns]

In [29]:
data.to_csv('Nizamabad2023.csv')