In [63]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
pd.options.display.float_format = '{:.2f}'.format

import pickle
from neuralprophet import NeuralProphet
from matplotlib import pyplot as plt
from itertools import combinations
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

In [64]:
import pandas as pd
df = pd.read_csv("Khammam.csv")
df ['dates'] = pd.to_datetime(df ['date'])
df=df.set_index(['date'])
df=df.sort_index()
df

           district  min-temp  max-temp      dates
date
2019-01-01  Khammam     15.40     32.14 2019-01-01
2019-01-02  Khammam     16.71     33.33 2019-01-02
2019-01-03  Khammam     18.12     35.50 2019-01-03
2019-01-04  Khammam     18.71     35.50 2019-01-04
2019-01-05  Khammam     20.10     35.02 2019-01-05
...             ...       ...       ...        ...
2022-12-27  Khammam     22.80     34.00 2022-12-27
2022-12-28  Khammam     23.00     34.90 2022-12-28
2022-12-29  Khammam     22.50     36.90 2022-12-29
2022-12-30  Khammam     22.20     35.70 2022-12-30
2022-12-31  Khammam     21.60     35.30 2022-12-31

[1338 rows x 4 columns]

In [65]:
target= df[['dates', 'max-temp']] 
target.dropna(inplace=True)
target.columns = ['ds', 'y'] 
target.drop_duplicates(inplace=True)
target

WARNING - (py.warnings._showwarnmsg) - /var/folders/bm/xy68m44x3nl6g2dq4wbnmh4c0000gn/T/ipykernel_55819/3256469269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target.dropna(inplace=True)

WARNING - (py.warnings._showwarnmsg) - /var/folders/bm/xy68m44x3nl6g2dq4wbnmh4c0000gn/T/ipykernel_55819/3256469269.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target.drop_duplicates(inplace=True)

                   ds     y
date
2019-01-01 2019-01-01 32.14
2019-01-02 2019-01-02 33.33
2019-01-03 2019-01-03 35.50
2019-01-04 2019-01-04 35.50
2019-01-05 2019-01-05 35.02
...               ...   ...
2022-12-27 2022-12-27 34.00
2022-12-28 2022-12-28 34.90
2022-12-29 2022-12-29 36.90
2022-12-30 2022-12-30 35.70
2022-12-31 2022-12-31 35.30

[1338 rows x 2 columns]

In [66]:
# from sklearn.model_selection import train_test_split
# tr,ts=train_test_split(target,train_size=0.3)
tr=target[:'2022']
ts=target['2022':]

In [67]:
NP = NeuralProphet()
model = NP.fit(tr, freq='D', epochs=1000)

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.487% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
WARNING - (py.warnings._showwarnmsg) - /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pytorch_lightning/trainer/trainer.py:1789: UserWarning: MPS available but not used. Set `accelerator` and `devices` using `Trainer(accelerator='mps', devices=1)`.
  rank_zero_warn(

WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (61) is too small than the required number for the learning rate finder (225). The results might not be optimal.

Finding best initial lr:   0%|          | 0/225 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

In [68]:
future = NP.make_future_dataframe(ts, periods=len(ts))
forecast = NP.predict(future)
forecast

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.451% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.725% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.725% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 61it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

            ds     y  yhat1  trend  season_yearly  season_weekly
0   2023-01-01  None  33.74  36.55          -2.86           0.05
1   2023-01-02  None  33.89  36.55          -2.84           0.18
2   2023-01-03  None  33.71  36.55          -2.82          -0.02
3   2023-01-04  None  33.78  36.55          -2.80           0.03
4   2023-01-05  None  33.83  36.55          -2.77           0.04
..         ...   ...    ...    ...            ...            ...
359 2023-12-26  None  34.03  36.93          -2.88          -0.02
360 2023-12-27  None  34.07  36.93          -2.89           0.03
361 2023-12-28  None  34.09  36.93          -2.89           0.04
362 2023-12-29  None  33.86  36.93          -2.89          -0.19
363 2023-12-30  None  33.94  36.94          -2.88          -0.11

[364 rows x 6 columns]

In [69]:
from sklearn.metrics import mean_absolute_percentage_error,mean_squared_error,r2_score,mean_absolute_error
print("Mean absolute percentage error: ",mean_absolute_percentage_error(forecast['yhat1'],ts['y']))
print("Mean Squared Error: ",mean_squared_error(forecast['yhat1'],ts['y']))
print('Mean Absolute Error',mean_absolute_error(forecast['yhat1'],ts['y']))

Mean absolute percentage error:  0.0446761474380062
Mean Squared Error:  4.725914887702773
Mean Absolute Error 1.6366353045453084

In [70]:
NP = NeuralProphet()
model = NP.fit(target, freq='D', epochs=1000)
future = NP.make_future_dataframe(target, periods=370)
forecast = NP.predict(future)
forecast

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.552% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 32
WARNING - (py.warnings._showwarnmsg) - /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pytorch_lightning/trainer/trainer.py:1789: UserWarning: MPS available but not used. Set `accelerator` and `devices` using `Trainer(accelerator='mps', devices=1)`.
  rank_zero_warn(

WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (42) is too small than the required number for the learning rate finder (228). The results might not be optimal.

Finding best initial lr:   0%|          | 0/228 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.552% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.73% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.73% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 42it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

            ds     y  yhat1  trend  season_yearly  season_weekly
0   2023-01-01  None  33.35  36.50          -3.18           0.03
1   2023-01-02  None  33.44  36.50          -3.18           0.12
2   2023-01-03  None  33.31  36.50          -3.18          -0.01
3   2023-01-04  None  33.40  36.50          -3.18           0.07
4   2023-01-05  None  33.40  36.50          -3.17           0.07
..         ...   ...    ...    ...            ...            ...
365 2024-01-01  None  33.32  36.38          -3.18           0.12
366 2024-01-02  None  33.19  36.38          -3.18          -0.01
367 2024-01-03  None  33.28  36.38          -3.18           0.07
368 2024-01-04  None  33.27  36.38          -3.18           0.07
369 2024-01-05  None  33.13  36.38          -3.17          -0.08

[370 rows x 6 columns]

In [71]:
data= forecast[['ds', 'yhat1']].iloc[:365,:]
data.dropna(inplace=True)
data.columns = ['date', 'Temp'] 
data

          date  Temp
0   2023-01-01 33.35
1   2023-01-02 33.44
2   2023-01-03 33.31
3   2023-01-04 33.40
4   2023-01-05 33.40
..         ...   ...
360 2023-12-27 33.33
361 2023-12-28 33.31
362 2023-12-29 33.15
363 2023-12-30 33.02
364 2023-12-31 33.24

[365 rows x 2 columns]

In [72]:
avg=target['y'].mean()
print(avg)
print(max(target['y']))

36.38990034875934
46.305

In [73]:
loc=[]
for i in data['Temp']:
    if i-avg>=4.5 and i-avg<=6.4:
        loc.append('Heatwave')
    elif i-avg>=6.5:
        loc.append('Severe Heatwave')
    else:
        loc.append('No Heatwave')

In [74]:
data['Class']=loc

In [75]:
data

          date  Temp        Class
0   2023-01-01 33.35  No Heatwave
1   2023-01-02 33.44  No Heatwave
2   2023-01-03 33.31  No Heatwave
3   2023-01-04 33.40  No Heatwave
4   2023-01-05 33.40  No Heatwave
..         ...   ...          ...
360 2023-12-27 33.33  No Heatwave
361 2023-12-28 33.31  No Heatwave
362 2023-12-29 33.15  No Heatwave
363 2023-12-30 33.02  No Heatwave
364 2023-12-31 33.24  No Heatwave

[365 rows x 3 columns]

In [76]:
data.to_csv('Khammam2023.csv')