In [33]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
pd.options.display.float_format = '{:.2f}'.format

import pickle
from neuralprophet import NeuralProphet
from matplotlib import pyplot as plt
from itertools import combinations
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

In [34]:
import pandas as pd
df = pd.read_csv("Karimnagar.csv")
df ['dates'] = pd.to_datetime(df ['date'])
df=df.set_index(['date'])
df=df.sort_index()
df

              district  min-temp  max-temp      dates
date
2019-01-01  Karimnagar     13.90     31.51 2019-01-01
2019-01-02  Karimnagar     14.20     33.79 2019-01-02
2019-01-03  Karimnagar     16.91     35.99 2019-01-03
2019-01-04  Karimnagar     15.25     35.32 2019-01-04
2019-01-05  Karimnagar     16.98     35.44 2019-01-05
...                ...       ...       ...        ...
2022-12-27  Karimnagar     22.60     32.58 2022-12-27
2022-12-28  Karimnagar     23.00     34.35 2022-12-28
2022-12-29  Karimnagar     23.05     36.23 2022-12-29
2022-12-30  Karimnagar     22.30     34.40 2022-12-30
2022-12-31  Karimnagar     21.25     35.25 2022-12-31

[1344 rows x 4 columns]

In [35]:
target= df[['dates', 'max-temp']] 
target.dropna(inplace=True)
target.columns = ['ds', 'y'] 
target.drop_duplicates(inplace=True)
target

WARNING - (py.warnings._showwarnmsg) - /var/folders/bm/xy68m44x3nl6g2dq4wbnmh4c0000gn/T/ipykernel_54662/3256469269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target.dropna(inplace=True)

WARNING - (py.warnings._showwarnmsg) - /var/folders/bm/xy68m44x3nl6g2dq4wbnmh4c0000gn/T/ipykernel_54662/3256469269.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target.drop_duplicates(inplace=True)

                   ds     y
date
2019-01-01 2019-01-01 31.51
2019-01-02 2019-01-02 33.79
2019-01-03 2019-01-03 35.99
2019-01-04 2019-01-04 35.32
2019-01-05 2019-01-05 35.44
...               ...   ...
2022-12-27 2022-12-27 32.58
2022-12-28 2022-12-28 34.35
2022-12-29 2022-12-29 36.23
2022-12-30 2022-12-30 34.40
2022-12-31 2022-12-31 35.25

[1337 rows x 2 columns]

In [36]:
# from sklearn.model_selection import train_test_split
# tr,ts=train_test_split(target,train_size=0.3)
tr=target[:'2022']
ts=target['2022':]

In [37]:
NP = NeuralProphet()
model = NP.fit(tr, freq='D', epochs=1000)

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.59% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
WARNING - (py.warnings._showwarnmsg) - /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pytorch_lightning/trainer/trainer.py:1789: UserWarning: MPS available but not used. Set `accelerator` and `devices` using `Trainer(accelerator='mps', devices=1)`.
  rank_zero_warn(

WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (61) is too small than the required number for the learning rate finder (225). The results might not be optimal.

Finding best initial lr:   0%|          | 0/225 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

In [38]:
future = NP.make_future_dataframe(ts, periods=len(ts))
forecast = NP.predict(future)
forecast

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 98.895% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.724% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.724% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 61it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

            ds     y  yhat1  trend  season_yearly  season_weekly
0   2023-01-01  None  32.41  36.31          -3.82          -0.08
1   2023-01-02  None  32.64  36.31          -3.81           0.14
2   2023-01-03  None  32.55  36.31          -3.80           0.04
3   2023-01-04  None  32.68  36.32          -3.78           0.14
4   2023-01-05  None  32.56  36.32          -3.76          -0.00
..         ...   ...    ...    ...            ...            ...
357 2023-12-24  None  33.72  37.53          -3.73          -0.08
358 2023-12-25  None  33.91  37.53          -3.76           0.14
359 2023-12-26  None  33.79  37.53          -3.78           0.04
360 2023-12-27  None  33.88  37.54          -3.80           0.14
361 2023-12-28  None  33.73  37.54          -3.81          -0.00

[362 rows x 6 columns]

In [39]:
from sklearn.metrics import mean_absolute_percentage_error,mean_squared_error
print("Mean absolute percentage error: ",mean_absolute_percentage_error(forecast['yhat1'],ts['y']))
print("Mean Squared Error: ",mean_squared_error(forecast['yhat1'],ts['y']))
print("Mean Absolute Error: ",mean_absolute_error(forecast['yhat1'],ts['y']))

Mean absolute percentage error:  0.06026587105972363
Mean Squared Error:  7.853556660934504
Mean Absolute Error:  2.1995422544532057

In [40]:
NP = NeuralProphet()
model = NP.fit(target, freq='D', epochs=1000)
future = NP.make_future_dataframe(target, periods=370)
forecast = NP.predict(future)
forecast

WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.476% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 32
WARNING - (py.warnings._showwarnmsg) - /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pytorch_lightning/trainer/trainer.py:1789: UserWarning: MPS available but not used. Set `accelerator` and `devices` using `Trainer(accelerator='mps', devices=1)`.
  rank_zero_warn(

WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (42) is too small than the required number for the learning rate finder (228). The results might not be optimal.

Finding best initial lr:   0%|          | 0/228 [00:00<?, ?it/s]

Training: 0it [00:00, ?it/s]

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.476% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.73% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 99.73% of the data.
INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting: 42it [00:00, ?it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

            ds     y  yhat1  trend  season_yearly  season_weekly
0   2023-01-01  None  32.18  35.95          -3.71          -0.07
1   2023-01-02  None  32.24  35.95          -3.73           0.01
2   2023-01-03  None  32.17  35.95          -3.74          -0.04
3   2023-01-04  None  32.31  35.96          -3.76           0.11
4   2023-01-05  None  32.20  35.96          -3.76           0.01
..         ...   ...    ...    ...            ...            ...
365 2024-01-01  None  32.79  36.48          -3.70           0.01
366 2024-01-02  None  32.72  36.48          -3.72          -0.04
367 2024-01-03  None  32.86  36.48          -3.74           0.11
368 2024-01-04  None  32.74  36.48          -3.75           0.01
369 2024-01-05  None  32.77  36.48          -3.76           0.04

[370 rows x 6 columns]

In [41]:
data= forecast[['ds', 'yhat1']].iloc[:365,:]
data.dropna(inplace=True)
data.columns = ['date', 'Temp'] 
data

          date  Temp
0   2023-01-01 32.18
1   2023-01-02 32.24
2   2023-01-03 32.17
3   2023-01-04 32.31
4   2023-01-05 32.20
..         ...   ...
360 2023-12-27 33.04
361 2023-12-28 32.90
362 2023-12-29 32.90
363 2023-12-30 32.76
364 2023-12-31 32.73

[365 rows x 2 columns]

In [42]:
avg=target['y'].mean()
print(avg)
print(max(target['y']))

35.346546684121165
46.97

In [43]:
loc=[]
for i in data['Temp']:
    if i-avg>=4.5 and i-avg<=6.4:
        loc.append('Heatwave')
    elif i-avg>=6.5:
        loc.append('Severe Heatwave')
    else:
        loc.append('No Heatwave')

In [44]:
data['Class']=loc

In [45]:
data

          date  Temp        Class
0   2023-01-01 32.18  No Heatwave
1   2023-01-02 32.24  No Heatwave
2   2023-01-03 32.17  No Heatwave
3   2023-01-04 32.31  No Heatwave
4   2023-01-05 32.20  No Heatwave
..         ...   ...          ...
360 2023-12-27 33.04  No Heatwave
361 2023-12-28 32.90  No Heatwave
362 2023-12-29 32.90  No Heatwave
363 2023-12-30 32.76  No Heatwave
364 2023-12-31 32.73  No Heatwave

[365 rows x 3 columns]

In [46]:
data.to_csv('Karimnagar2023.csv')